* {
    padding: 0;
    margin: 0;
}

.containter {
    width: 100vw;
    height: 100vh;
    display: flex;
    vertical-align: middle;
    background: #eac9c9;
    overflow: hidden;
}

.calculator {
    width: 500px;
    margin: auto;
    background: rgb(240, 175, 175);
    border: 2px rgb(217, 0, 255) dashed;
    padding: 50px 10px;
}

.calculator h1 {
    text-align: center;
    color: white;
    text-shadow: 2px 2px gray;
    padding: 10px 0;
}

.input-fields {
    padding: 10px;
    display: flex;
    justify-content: space-around;
}

.input-fields input {
    padding: 5px;
    text-align: center;
    font-size: 15px;
    border: none;
    width: 210px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.btns {
    display: flex;
    justify-content: space-around;
    padding: 10px;
}

.btns button {
    border: none;
    background: rgb(180, 141, 188);
    box-shadow: 2px 2px gray;
    color: white;
    padding: 10px;
    width: 100px;
    transition: 0.3s;
}

.btns button:hover {
    background: rgb(148, 104, 156);
    cursor: pointer;
}

span {
    margin: auto;
    display: table;
    text-shadow: 2px 2px gray;
    color: white;
    font-size: 30px;
}

@media (max-width: 556px) {
    .calculator {
        width: 300px;
        height: 500px;
    }

    .input-fields {
        padding: 10px;
        display: block;
    }

    .input-fields input {
        padding: 10px;
        margin: 28px;
        text-align: center;
    }


    .btns {
        display: block;
        padding: 10px;
    }

    .btns button {
        width: 100px;
        margin: 18px;
    }
}